*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero {
    width: 100%;
    min-height: 200vh;
    background-image: url(../images/back3.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}
nav {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 50px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul a {
    text-decoration: none;
    color: black;
    font-weight:600;
    text-size-adjust: initial;
    font-family: "Poppins", sans-serif;
    padding: 8px 15px;
    background: rgba(255), 255, 255, 0.3);
    border-radius: 20px;
    ::view-transition: background 0.3s ease;
}
nav ul a:hover {
    background: rgba(246, 236, 236, 0.7);
    color: #914242;
}
.content h1{
    font-size: 80px;
    color: #A72703;
    margin-bottom: 30px;
}
h3 {
    font-weight: bold;
    color: pink;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 130%;
}
.content p{
    margin: 15px 0 30px;
    color: #555555;
    font-size: 120%;
    text-align: justify;
}
.gccf-image{
    width: 630px;
}
.p2-image{
    width: 630px;
}
.p3-image{
    width: 630px;
}